<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top <%= yield(:navbar_class) %>">
  <%= link_to root_path do %>
    <%= image_tag "NB_logo_2000x920.png", class: "avatar" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to "Home", root_path, class: "nav-link-black" %>
      </li>
      <li>
        <%= link_to "Our Team", pages_about_path, class: "nav-link-black" %>
      </li>
      <li>
        <%= link_to "Blog", posts_path, class: "nav-link-black" %>
      </li>
      <li>
        <%= link_to "Candidates",  pages_candidate_path, class: "nav-link-black" %>
      </li>
      <li>
        <%= link_to "Contact", pages_contact_path, class: "nav-link-black" %>
      </li>
      <% if current_user && current_user.admin? %>
      <li>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link-black" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

