<div class="white-spacer"></div>
<div class="section">
  <div class="container text-center">
    <h1>Coaching for Collaboration</h1>
    <%= render "shared/butterfly_break" %>
    <div class="white-spacer">
    </div>
      <%= image_tag("NB_stroyboard-04.jpg", class: "avatar-bordered") %>
  </div>
</div>

<div class="section section-teal">
  <div class="teal-spacer"></div>
  <div class="container text-center">
    <p>
      At New Beginnings, we specialise in the promotion and facilitation of advanced communication skills in negotiation.
    </p>

    <p>
      We use our expertise in psychoanalysis to implement positive and long-lasting enhancements to performance, attitude and employer/employee satisfaction. We invert the traditional ’outside in’ perspectives and work instead from the inside out.
    </p>
    <div class="teal-spacer"></div>
    <div class="d-flex justify-content-center" style="margin:0 -15px;">
      <div class="card card-left" data-aos="fade-down-left" data-aos-duration="3000" id="small-leaf" style="margin:0 15px;">
        <%= image_tag "neon.jpg", alt: "alttext" %>
      </div>
      <div class="card card-right" data-aos="fade-down-right" data-aos-duration="3000" id="small-leaf" style="margin:0 15px;">
        <%= image_tag "london.jpg", alt: "alttext" %>
      </div>
    </div>
    <div class="teal-spacer"></div>
    <p>
      We are proponents of a more enlightened and less aggressive method of conducting negotiations. Our collaborative approach focuses on the value of long-term relationships and a desire to conduct business with trust and mindfulness.
    </p>
    <p>
       Our experience in coaching will empower your negotiators to have the confidence to know when to go off script. And to do so successfully, with authenticity and honesty.
    </p>
    <%= render "shared/butterfly_break" %>
  </div>
</div>
<%= render "shared/contact_section" %>

