<% content_for(:navbar_class, "navbar-home") %>
<div class="home-banner">
  <h1>New Beginnings Consultation</h1>
  <h2>Listen. Empower. Transform.</h2>
  <%= link_to "Get in touch", pages_contact_path, class: "btn btn-ghost" %>
</div>
<div class="section section-dark">
  <div class="container">
    <h2 class="greeting">A lot has changed in 2020...</h2>
    <h2 class="greeting">It's time for New Beginnings...</h2>
  </div>
</div>

<div class="section welcome">
  <div class="container">
    <h3>
      At New Beginnings Consultation, we bring our expertise to listen, empower and transform.
    </h3>
    <div class="white-spacer">
    </div>
    <p>
      At New Beginnings (NBC) we help our clients with organisation, agility and scalability, through techniques and training, to enable transformative enhancement, and restructured sustainability, in these challenging times.



      Our consultants bring 50 years of professional expertise across a wide range of areas, helping your business to deliver structure, mindset, and the environment to ensure you succeed. With a global team working in APAC, Europe and the Americas, we are best placed to offer support, guidance and recommendations in the environment most relevant to you.

    </p>
    <p>
      At NBC we understand that each business has a unique fingerprint and we focus on maintaining that unique identity and message moving forward.



      Whether you are an organisation having to make changes and adapt, or you are a talented individual looking to take your career further, our friendly team welcome all your enquiries about how to take the first steps towards your New Beginning.


    </p>
    <div class="storyboard">
      <div class="row justify-content-center">

        <div class="col-sm-12 col-md-12 col-lg-2">
          <%= image_tag("NB_stroyboard-03.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
          <%= image_tag("NB_stroyboard-04.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
          <%= image_tag("NB_stroyboard-05.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
          <%= image_tag("NB_stroyboard-06.jpg", class: "avatar-bordered") %>
        </div>
      </div>
    </div>
    <!-- <div class="white-spacer"></div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6">
        <h3 style="color:#3CD3CC">Commercial Excellence</h3>
        <p>
          At NBC commercial excellence is more than a collection of trendy buzz words. We strive to offer in depth analysis and quality of advice
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 style="color:#3CD3CC">Risk Management</h3>
        <p>
          We will review and identify your risks whilst preserving the original identity and mission of your business
        </p>
      </div>
      <div class="col-sm-0 col-md-12">
        <div class="white-spacer"></div>
      </div>

      <div class="col-sm-12 col-md-6">
        <h3 style="color:#3CD3CC">HR & Employee Relations</h3>
        <p>
          At NBC we put the ‘human’ back into Human Resources ensuring support in employee relations
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 style="color:#3CD3CC">360 Recruitment</h3>
        <p>
        We want your professional life to be fulfilling and joyful. Whether you are an employer or a candidate, we are here to help you reach your full potential
        </p>
      </div>
    </div> -->
    <div class="white-spacer"></div>
      <h3 class="text-center">
       Start your New Beginning with us today
      </h3>
  </div>
</div>



<div class="section-teal">
  <div class="container">
    <div class="teal-spacer"></div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6">
        <div class="card card-left">
          <img src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
          <div class="card-infos">
            <div>
              <%= link_to pages_negotiation_path, class: "card-links" do %>
                <h2>Commercial Excellence</h2>
                <p>Developing Core Capabilities</p>
              <% end %>
            </div>
            <!-- <h2 class="card-pricing">Work with us</h2> -->
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card card-left">
          <img src="https://images.unsplash.com/photo-1496902526517-c0f2cb8fdb6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
          <div class="card-infos">
            <div>
              <%= link_to pages_risk_path, class: "card-links" do %>
                <h2>Risk Management</h2>
                <p>Identifying areas to drive profitability</p>
              <% end %>
            </div>
            <!-- <h2 class="card-pricing">Get in touch</h2> -->
          </div>
        </div>
      </div>
<!--
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1532009877282-3340270e0529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
          <div class="card-infos">
            <div> -->
           <!--    < link_to pages_employee_relations_path,
                <h2>Employee Relations</h2>
                <p>More information coming soon...</p>

            </div> -->
            <!-- <h2 class="card-pricing">Find out more</h2> -->
 <!--          </div>
        </div>
      </div> -->

      <!-- <div class="col-sm-12 col-md-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80" />
          <div class="card-infos">
            <div>
              <h2>Negotiation for candidates</h2>
              <p>More information coming soon...</p>
            </div> -->
            <!-- <h2 class="card-pricing">Work with us</h2> -->
    <!--       </div>
        </div>
      </div> -->

      <div class="col-sm-12 col-md-6">
        <div class="card card-left">
          <img src="https://images.unsplash.com/photo-1538766017398-415434a31a5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
          <div class="card-infos">
            <div>
              <%= link_to pages_human_hr_path, class: "card-links" do %>
                <h2>HR & Employee Relations</h2>
                <p>Putting human back into Human Resources</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
          <div class="card card-left">
            <img src="https://images.unsplash.com/photo-1567941537380-d3cc4b3384a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80" />
            <div class="card-infos">
              <div>
                <%= link_to pages_recruitment_path, class: "card-links" do %>
                  <h2>360 Recruitment</h2>
                  <p>Including tailored assessment centres</p>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <p>We would love to hear from you!</p>
    <p>Call us on:</p>
    <a class="email-link" href="tel:+442034885717">0203 488 5717</a>
    <p></p>
    <p>Or email us at:</p>
    <div class="breaker">
    <a href="mailto:hello@newbeginningsconsultation.com" class="email-link">hello@newbeginningsconsultation.com</a>
    </div>
  </div>
</div>


