<% content_for(:navbar_class, "navbar-home") %>
<div class="home-banner">
  <h1>New Beginnings Consultation</h1>
  <h2>We Listen. We Empower. We Transform.</h2>
  <%= link_to "Get in touch", pages_contact_path, class: "btn btn-ghost" %>
</div>
<div class="section section-dark">
  <div class="container">
    <h2 class="greeting text-center" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up" data-aos-duration="3000">Start your new beginning with us today</h2>
  </div>
</div>

<div class="section welcome section-teal">
  <div class="container">
    <div class="white-spacer"></div>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6">
        <p>
          We help our clients achieve outstanding commercial excellence by putting people and personality at the heart of every decision.
          We aim to empower organisations to be brave, to take real action and implement transformative change.
          We celebrate diverse personalities and believe they can change the narrative in business for the better.
          Variety is the spice of life, and also business!
        </p>
        <h3>
          Together, we can break the mould.
        </h3>
        <button class="btn-lilac" data-target="what-we-do">Find out more</button>
      </div>
      <div class="col-sm-12 col-md-6">
      <div class="white-spacer"></div>
        <div class="card card-left" id="header-image">
          <img src="https://cdn.pixabay.com/photo/2018/03/22/16/46/mat-3251064_1280.jpg" alt="Different Spices varying personalities">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="what-we-do">
  <%= render "shared/butterfly_break" %>
  <div class="white-spacer"></div>
  <h3 class="text-center">
    What we do
  </h3>
  <div class="container">
    <div class="white-spacer"></div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6" data-aos="fade-down-right" data-aos-duration="3000" id="medium-leaf" >
        <%= link_to pages_sales_path, class: "card card-right" do %>
          <img src="https://cdn.pixabay.com/photo/2017/01/18/16/36/geese-1990202_1280.jpg" alt="Geese Flying in harmony"/>
          <div class="card-infos">
            <div class="card-links">
              <h2>Sales Effectiveness</h2>
              <p>Developing capabilities for</p>
              <p>commercial excellence</p>
            </div>
          </div>
          <div class="overlay">
            <div class="text-overlay">
              <p>
                Outstanding commercial excellence has a highly effective sales team at its core.
                Our approach to capability development spans a wide range of industries.
                We help individuals and teams to be the best they can be.
              </p>
              <button class ="btn-lilac-tiny">See more</button>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-down-left" data-aos-duration="3000" id="medium-leaf">
        <%= link_to pages_risk_path, class: "card card-left" do %>
          <img src="https://ceric.ca/wp-content/uploads/2019/05/doors-1767563_1920-600x320.jpg" alt="Yellow door among white doors choice" />
          <div class="card-infos">
            <div class="card-links">
              <h2>Risk Management</h2>
              <p>Planning for the risks that</p>
              <p>truly matter</p>
            </div>
          </div>
          <div class="overlay">
            <div class="text-overlay">
              <p>
                To plan effectively, risk needs to be tangible. Our focus is just that - what might happen to your market, your sales, your people? We help organisations plan for and mitigate against, the risks in a changing world.
              </p>
              <button class ="btn-lilac-tiny">See more</button>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-up-right" data-aos-duration="3000" id="medium-leaf" >
        <%= link_to pages_human_hr_path, class: "card card-left" do %>
          <img src="https://cdn.pixabay.com/photo/2015/07/20/23/12/courage-853466_1280.jpg" alt="Writing on stones courage truth faith" />
          <div class="card-infos">
            <div class="card-links">
              <h2>HR & Employee Relations</h2>
              <p>Putting the human back into</p>
              <p>Human Resources</p>
            </div>
          </div>
          <div class="overlay">
            <div class="text-overlay">
              <p>
                We believe in putting people first in every context.
                Our focus on people and personalities helps organisations be successful and a great place to work, even in challenging times.
              </p>
              <button class ="btn-lilac-tiny">See more</button>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-up-left" data-aos-duration="3000" id="medium-leaf">
        <%= link_to pages_recruitment_path, class: "card card-right" do %>
            <img src="https://images.unsplash.com/photo-1538766017398-415434a31a5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Blue door opening to new possibilities"/>
            <div class="card-infos">
              <div class="card-links">
                  <h2>360 Recruitment</h2>
                  <p>Finding the personality</p>
                  <p>behind the job</p>
              </div>
            </div>
            <div class="overlay">
              <div class="text-overlay">
                <p>
                  Recruitment isn’t just about jobs. Recruitment is about personalities. Of employers and of candidates. Our approach finds people that fit. People that love their new job. Companies that love their new people.
                </p>
                <button class ="btn-lilac-tiny">See more</button>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "shared/butterfly_break" %>
  <div class="container">
    <p>We would love to hear from you!</p>
    <div class="row justify-content-around">
      <div class="col-sm-12 col-md-4 border-blue">
        <p>Call us on:</p>
        <a class="email-phone-blue" href="tel:+442034885717">0044 203 488 5717</a>
      </div>
      <div class="white-spacer"></div>
      <div class="col-sm-12 col-md-4 border-blue">
        <p>Email us at:</p>
        <div class="breaker">
          <a href="mailto:hello@newbeginningsconsultation.com" class="email-phone-blue">hello<WBR>@newbeginnings<WBR>consultation.com</a>
        </div>
        </div>
      </div>
      <p>Or get in touch using the form below:</p>
    </div>
  </div>
</div>

<%= render 'cookies_eu/consent_banner' %>





