<% content_for(:navbar_class, "navbar-home") %>

<div class="home-banner">
  <h1>New Beginnings Consultation</h1>
  <h2>We Listen. We Advise. We Deliver.</h2>
  <!-- <h3>Here to listen, advise and deliver</h3> -->
  <%= link_to "Get in touch", pages_contact_path, class: "btn btn-ghost" %>
</div>
<div class="section section-dark">
  <div class="container">
    <h2 class="greeting">A lot has changed in 2020...</h2>
    <h2 class="greeting">It's time for New Beginnings...</h2>
  </div>
</div>

<!-- <div class="section">
  <div class="container">
    <p>
      At New Beginnings Consultation we put you at the centre of everything we do. Why? Because we care. The reality is we spend more time at work than we do at home, so it is our mission to ensure humans enjoy and achieve their full potential with this time.
    </p>
    <p>
      Our professional lives can be fulfilling and joyful but also challenging and turbulent in equal measure, which is why we are here to help you navigate through whatever your career throws at you.
    </p>
    <p>
      Whether you are a candidate or employer, we listen to ensure both parties'  interests are looked after. With our human-centric approach, we build relationships where you can feel comfortable that we will fight for the best solution every step of the way.
    </p>
    <p>
      Oh and by the way, we are not just recruitment! We offer a bespoke package of services. Take a look at what we do and start your New Beginnings now…
    </p>
  </div>
</div> -->
<div class="section welcome">
  <div class="container">
    <h3>
      At New Beginnings we listen, we advise and we deliver. How? By putting you at the centre of everything we do. Why? Because we care.
    </h3>
    <div class="white-spacer">
    </div>
    <p>
      Our professional lives will often be fulfilling and joyful, but also challenging and turbulent in equal measure. New Beginnings is here to help you navigate this, whatever the challenge is. Whether corporately or individually, our customer centric approach allows us to build relationships where you can feel comfortable you're listened to and that all the solutions provided are relevant to your current needs and/or challenges. With partners that are experts in their respective fields, with both domestic and global relationships, we are best placed to support you.
    </p>
    <div class="storyboard">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-02.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-03.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-04.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-05.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-06.jpg", class: "avatar-bordered") %>
        </div>
      </div>
    </div>
    <div class="white-spacer">
    </div>
    <h3>
      How do we support you? By offering bespoke, tailormade solutions across a number of core verticals.
    </p>
  </div>
</div>

<div class="section-gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6">
        <div class="card card-left">
          <img src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
          <div class="card-infos">
            <div>
              <%= link_to pages_negotiation_path, class: "card-links" do %>
                <h2>Commercial Excellence</h2>
                <p>Developing Core Capabilities</p>
              <% end %>
            </div>
            <!-- <h2 class="card-pricing">Work with us</h2> -->
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card card-left">
          <img src="https://images.unsplash.com/photo-1496902526517-c0f2cb8fdb6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
          <div class="card-infos">
            <div>
              <%= link_to pages_risk_path, class: "card-links" do %>
                <h2>Risk Management</h2>
                <p>Identifying areas to drive profitability</p>
              <% end %>
            </div>
            <!-- <h2 class="card-pricing">Get in touch</h2> -->
          </div>
        </div>
      </div>
<!--
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1532009877282-3340270e0529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
          <div class="card-infos">
            <div> -->
           <!--    < link_to pages_employee_relations_path,
                <h2>Employee Relations</h2>
                <p>More information coming soon...</p>

            </div> -->
            <!-- <h2 class="card-pricing">Find out more</h2> -->
 <!--          </div>
        </div>
      </div> -->

      <!-- <div class="col-sm-12 col-md-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80" />
          <div class="card-infos">
            <div>
              <h2>Negotiation for candidates</h2>
              <p>More information coming soon...</p>
            </div> -->
            <!-- <h2 class="card-pricing">Work with us</h2> -->
    <!--       </div>
        </div>
      </div> -->

      <div class="col-sm-12 col-md-6">
        <div class="card card-left">
          <img src="https://images.unsplash.com/photo-1538766017398-415434a31a5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
          <div class="card-infos">
            <div>
              <%= link_to pages_human_hr_path, class: "card-links" do %>
                <h2>Human Resources & Employee Relations</h2>
                <p>Putting human back into Human Resources</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
          <div class="card card-left">
            <img src="https://images.unsplash.com/photo-1567941537380-d3cc4b3384a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80" />
            <div class="card-infos">
              <div>
                <%= link_to pages_recruitment_path, class: "card-links" do %>
                  <h2>360 Recruitment</h2>
                  <p>Including tailored assessment centres</p>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <!-- <p>
      In these times we also provide a service where we work with you on reducing head count but not only that we will deliver the message and help the unfortunate people in these times that have been made redundant.
    </p> -->
    <p>
      Our team have over 20 years’ experience of working with SME and Global organisations and the most important thing is that we care!
    </p>
    <p>Call us today on:</p>
    <h2 style="color:#3CD3CC">0203 488 5717</h2>
  </div>
</div>


