<% content_for(:navbar_class, "navbar-home") %>
<div class="home-banner">
  <h1>New Beginnings Consultation</h1>
  <h2>We Listen. We Empower. We Transform.</h2>
  <%= link_to "Get in touch", pages_contact_path, class: "btn btn-ghost" %>
</div>
<div class="section section-dark">
  <div class="container">
    <h2 class="greeting text-center" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up" data-aos-duration="3000">Start your new beginning with us today</h2>
  </div>
</div>

<div class="section welcome section-teal">
  <div class="container">
    <div class="white-spacer"></div>
        <h3 class="text-left">
          We support our clients with every step of the employee journey...
        </h3>
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6 text-left">
        <div class="inner">
          <p>
            by putting people and personality first <br>
            by recruiting the right people for the right organisation <br>
            by teaching collaborative sales and negotiation skills <br>
            by coaching teams to work creatively together <br>
            by compassionately managing change and departure <br>
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="white-spacer"></div>
        <div class="card card-left" id="header-image">
          <img src="https://cdn.pixabay.com/photo/2018/03/22/16/46/mat-3251064_1280.jpg" alt="Different Spices varying personalities">
        </div>
      </div>
    </div>
    <div class="text-left">
        <h3>
          Together, we can break the mould.
        </h3>
        <button class="btn-lilac" data-target="what-we-do">Find out more</button>
    </div>
  </div>
</div>

<div class="section" id="what-we-do">
  <%= render "shared/butterfly_break" %>
  <div class="white-spacer"></div>
  <h3 class="text-center">
    What we do
  </h3>
  <div class="container">
    <div class="white-spacer"></div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6" data-aos="fade-down-right" data-aos-duration="3000" id="medium-leaf" >
        <%= link_to pages_recruitment_path, class: "card card-right" do %>
          <img src="https://images.unsplash.com/photo-1538766017398-415434a31a5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Blue door opening to new possibilities"/>
          <div class="card-infos">
            <div class="card-links">
              <h2>360 Recruitment</h2>
              <p>Finding the personality</p>
              <p>behind the job</p>
            </div>
          </div>
          <div class="overlay">
            <div class="text-overlay">
              <p>
               We believe recruitment isn’t just about jobs, it is about personalities. Of employers and of candidates. Our approach finds people that fit. People that love their new job. Companies that love their new people.
              </p>
              <button class ="btn-lilac-tiny">See more</button>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-down-left" data-aos-duration="3000" id="medium-leaf">
        <%= link_to pages_coaching_path, class: "card card-left" do %>
          <img src="https://cdn.pixabay.com/photo/2017/01/18/16/36/geese-1990202_1280.jpg" alt="Geese flying in unison" />
          <div class="card-infos">
            <div class="card-links">
              <h2>Coaching for collaboration</h2>
              <p>Facilitating advanced</p>
              <p>communication skills</p>
            </div>
          </div>
          <div class="overlay">
            <div class="text-overlay">
              <p>
                We specialise in the facilitation of advanced communication skills in negotiation. We understand that change must begin within individuals. We promote the value of long-term relationships, and a desire to conduct business in a collaborative, not adversarial way.
              </p>
              <button class ="btn-lilac-tiny">See more</button>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-up-right" data-aos-duration="3000" id="medium-leaf" >
        <%= link_to pages_sales_path, class: "card card-left" do %>
          <%= image_tag "bee.jpg", alt: "Bee on a flower" %>
          <div class="card-infos">
            <div class="card-links">
              <h2>Enhancing Sales Effectiveness</h2>
              <p>Building symbiotic</p>
              <p>relationships</p>
            </div>
          </div>
          <div class="overlay">
            <div class="text-overlay">
              <p>
                Outstanding commercial excellence has a highly effective sales team at its core. We enable selling skills that develop trust. We support teams of diverse personalities to work creatively together. We help individuals and teams to be the best they can be.
              </p>
              <button class ="btn-lilac-tiny">See more</button>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-up-left" data-aos-duration="3000" id="medium-leaf">
        <%= link_to pages_human_hr_path, class: "card card-right" do %>
            <%= image_tag "ocean.jpg", alt: "stones with our values on" %>
            <div class="card-infos">
              <div class="card-links">
                  <h2>HR Consultancy</h2>
                  <p>Putting the human</p>
                  <p>back into HR</p>
              </div>
            </div>
            <div class="overlay">
              <div class="text-overlay">
                <p>
                  When managing change, we always put people first.
                  Our focus is on balancing the needs of individuals and the organisation. Understanding personalities helps businesses be successful and a great place to work, even in difficult times.
                </p>
                <button class ="btn-lilac-tiny">See more</button>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "shared/butterfly_break" %>
  <div class="white-spacer"></div>
  <div class="container">
    <p>We would love to hear from you!</p>
    <div class="row justify-content-center no-gutters" style="margin:0 -20px;">
      <div class="col-sm-12 col-md-4 border-blue" data-aos="zoom-in" data-aos-duration="3000" style="margin:0 20px;">
        <p>Call us on:</p>
        <a class="email-phone-blue" href="tel:+442034885717">0044 203 488 5717</a>
      </div>
      <div class="white-spacer"></div>
      <div class="col-sm-12 col-md-4 border-blue" data-aos="zoom-in" data-aos-duration="3000" style="margin:0 20px;">
        <p>Email us at:</p>
        <div class="breaker">
          <a href="mailto:hello@newbeginningsconsultation.com" class="email-phone-blue">hello<WBR>@newbeginnings<WBR>consultation.com</a>
        </div>
        </div>
      </div>
      <div class="white-spacer"></div>
      <p>Or get in touch using the form below:</p>
    </div>
  </div>
</div>

<%= render 'cookies_eu/consent_banner' %>





