<div class="white-spacer">
</div>
<div class="section-teal">
  <div class="container">
    <h1>Putting the human back into human resources</h1>
  </div>
  <div class="container">
    <h2>
      Working with leaders to help them understand how to create teams so that they are trusted.
    </h2>
  <div class="storyboard">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-02.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
         <%= image_tag("NB_stroyboard-03.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-04.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
        <%= image_tag("NB_stroyboard-05.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-06.jpg", class: "avatar-bordered") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <p>
      How many times do you find that people feel they cannot speak to a line manager because they are worried about the consequences, either now or in the future? Being a true leader is about more than just sitting above others and giving direction. It is understanding how your business can better achieve its potential by helping individuals achieve theirs, it’s about knowing how to encourage those who report to you to step outside their comfort zone to achieve their own potential, giving them confidence to share their ideas, to step up, take on more responsibility and even, yes, to make mistakes and learn from them.
    </p>
  </div>

  <div class="container">
    <p>
      Your past career as a manager has got you to where you are today, but your success moving forwards as a true leader is about understanding how to lead others effectively, objectively and with clarity so that they trust you.
    </p>
  </div>

  <div class="container">
    <p>
      Policy has a part in any business, but over time it can bog your company down when it gets lost in translation and its focus becomes blurred and its implementation restrictive. At New Beginnings, we can help you shape policy so that it is focused on facilitating your business operation rather than hindering it. The first step is understanding why it was there in the first place and reviewing whether its purpose still reflects the business’s goals and make-up today.
    </p>
  </div>
</div>

