<div class="white-spacer">
</div>
<div class="section-teal">
  <div class="container">
  <div class="storyboard">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-02.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
         <%= image_tag("NB_stroyboard-03.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-04.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
        <%= image_tag("NB_stroyboard-05.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-06.jpg", class: "avatar-bordered") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <h1>We are updating our website!</h1>
  </div>

  <div class="container">
    <h2>More information coming soon...</h2>
  </div>
</div>

