<div class="white-spacer">
</div>

<div class="section-teal">
  <div class="container">
    <h1>Negotiation</h1>
    <div class="storyboard">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-02.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-03.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-04.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-05.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-06.jpg", class: "avatar-bordered") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <p>
      Having confidence when it comes to negotiating salary and terms whilst maintaining the positive on-going relationship that you need to have with your current or prospective employer can seem like a daunting task. Negotiation should never be personal, but in this emotive area it can feel like it is. At New Beginnings, we have highly experienced consultants who can guide and advise you on the language and approach you need to use to ensure collaborative conversations that yield a positive result.
    </p>
  </div>

  <div class="container">
    <p>
      It is important not to think just about what you want to get from the negotiation. More importantly, you need to consider the other party and how their company values and culture, perhaps even their national culture, or their own position or views may impact the process and outcome. You need to think about what it is they are wanting if they invest in hiring you and how you can position yourself positively against this in value terms. After all, they hold the key to your salary aspirations!
    </p>
  </div>

  <div class="container">
    <p>
      Our experience of working with businesses all over the world means we can advise you in these key areas no matter where you are based now, or are looking perhaps to move to. To build your confidence and skills for your salary/package negotiations we offer practical webinars and workshops so you know how to position your real value in ways that tick their boxes.
    </p>
  </div>
</div>

