<div class="white-spacer">
</div>
  <div class="section section-teal">
    <div class="container">
      <h2>
        Welcome to New Beginnings.
      </h2>
      <p>
        Unless you mistakenly stumbled across us by accident, it is likely to you found us because you are looking for something specific.
      </p>
      <p>
        You may be an individual looking for your next move in your current career, or perhaps a complete change of direction. You may be a business looking for a new way to attract the right people into your organisation. In either case, the decisions you are needing to make at this point in time represent a new beginning and, as our name suggests, we are here to help.
      </p>
      <div class="row justify-content-center">
        <div class="storyboard">
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-2">
              <%= image_tag("NB_stroyboard-02.jpg", class: "avatar-bordered") %>
            </div>
            <div class="col-sm-12 col-md-2">
              <%= image_tag("NB_stroyboard-03.jpg", class: "avatar-bordered") %>
            </div>
            <div class="col-sm-12 col-md-2">
              <%= image_tag("NB_stroyboard-04.jpg", class: "avatar-bordered") %>
            </div>
            <div class="col-sm-12 col-md-2">
              <%= image_tag("NB_stroyboard-05.jpg", class: "avatar-bordered") %>
            </div>
            <div class="col-sm-12 col-md-2">
              <%= image_tag("NB_stroyboard-06.jpg", class: "avatar-bordered") %>
            </div>
          </div>
        </div>
      </div>
      <p>
        More than ever, ‘work’ and what it means is changing for both employees and employers and with this comes a need for a different approach to recruitment that answers the needs of both the individual and the business.
      </p>
      <p>
        Our philosophy is simple, but one that is borne from our own experiences working within recruitment consultancy over the last 20 years.  Candidates need the right business and businesses need the right people. That may sound obvious but in fact is forgotten all too often when recruitment becomes transactional. Getting the match between the two parties perfected is what we have built our reputations on. This means is that we won’t put forward candidates for a role who view it is simply a wage packet. And we won’t work with businesses who view their people just as lines on a balance sheet. Work, and the employer/employee relationship, have to be based on more than these binary factors for it to truly bear fruit.
      </p>
      <p>
        Whether you are an individual or a business, we will ask you lots of questions and listen actively to the answers so that we understand completely what you are looking for. Sometimes the simple act of asking these questions helps provide clarity and focus to your search where perhaps it was lacking before.
      </p>
    </div>
  </div>
    <div class="section section">
      <div class="container">
        <h3>
          What we do for you as an individual:
        </h3>
        <p>
          We provide an hour’s consultation period for you where we get to know you, your experience, your skills, and what you are looking to do next in your career. We want to know what motivates you and what you feel you will bring to a new employer.  We will work with you to identify how best to showcase yourself, not just through what you write in your CV but how you make use of social media, networking and, of course, LinkedIn. And when you are ready to interview for your dream role, we will help ensure you are fully prepared and confident to approach this pivotal moment.
        </p>
        <p>
          You will have the chance to get know yourself better through a variety of psychometric profiling tools and this is vitally important as it can materially help find the best actual role and business fit for you vs. what you might think you want or need. Knowing yourself is the first step to a successful career.
        </p>
        <p>
          We work with a broad range of different industry sectors and busines sizes, from SMEs to the biggest global conglomerates, so we will be able to review a wide selection of roles with you and discuss those we feel would be most suitable based upon your skill sets and aspirations, and your fit with the business itself from a culture and ethos point of view.
        </p>
      </div>
    </div>
    <div class="section section-teal">
      <div class="container">
        <h3>
          What we do for our clients:
        </h3>
        <p>
          In short, we work in partnership with you. With your help we will ensure we fully understand your business and recruitment needs and then we will be able to provide you with an in-depth understanding of the candidate market in your specific geography and sector, including benchmarking for salaries at different levels and role make-ups. This is to make sure that not only do you make the right hire for the right salary, but also so that we can also positively and realistically manage the individual candidate’s expectations so that both parties are happy with the final remuneration level and/or package. Getting this right significantly enhances the individual’s satisfaction and lowers churn rates.
        </p>
        <p>
          Where needed we can build a range of robust assessment centres for your recruitment needs and will, when required, sit on any assessment panels. Be it for an individual role or a wider internal application process, we build assessment centres to help make sure that you are testing for the skills that are needed in the business and the specific role. This also helps the individual(s) better understand what the role will entail and, if new to the business, get a feel for the company culture in more depth.
        </p>
        <p>
          All our consultants have been trained on various psychometric testing protocols including Myers Briggs, Colour Insights and Hogan Assessments. We don’t use these as a form of screening, but rather as a way to better get to know the individual candidate and for them to better know themselves. This aids in the identification of the most appropriate roles / businesses for them, and as a result ensures we put forward only the most appropriate candidates for you to interview.
        </p>
        <p>
          It may sound odd but success for us is not hearing from you again for the role we have just helped you fill, because the right person will want to stay and grow that role and then move on to bigger and better things in your business. Our clients keep working with us on new opportunities time and again because of how we fill the roles they need help with.
        </p>
      </div>
    </div>

