<div class="white-spacer">
</div>

<div class="section-teal">
  <div class="container">
    <h1>Risk Management</h1>
    <div class="storyboard">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-02.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-03.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-04.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-05.jpg", class: "avatar-bordered") %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= image_tag("NB_stroyboard-06.jpg", class: "avatar-bordered") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <p>
      Nobody wants to think that their business maybe moving into uncertain times and with COVID 19 this has just underlined the importance of looking at the threats to your organisation’s capital and earnings.
    </p>

    <p>
      With all the uncertainty that we face globally, we have a team of highly qualified consultants that are able to look at your organisation and look all possible risks your business maybe facing.
    </p>

    <p>
      We have a successful track record in turning business away from the iceberg.   We will look at where your main risks are from legal liabilities, organisation structure, through to helping you with your internal communications once the decisions have been made.  We will be the ones that can help people understand the whys?
    </p>

    <p>
       This goes hand in hand with our human in human resources
    </p>
  </div>
</div>

