<div class="white-spacer"></div>
<div class="section">
  <div class="container text-center">
    <h1>Sales Effectiveness</h1>
    <%= render "shared/butterfly_break" %>
    <div class="white-spacer"></div>
    <%= image_tag("NB_stroyboard-05.jpg", class: "avatar-bordered") %>
  </div>
</div>

<div class="section section-teal">
  <div class="teal-spacer"></div>
  <div class="container text-center">
    <p>
      At New Beginnings, we aim to empower our clients to achieve outstanding commercial excellence.
      Enabling sales teams to work highly effectively can be a key element in this transformation.
    </p>
    <p>
      Our expertise in capability development will help you to identify the needs of each member of your teams.
      Our consultants will explore not just the technical, but also the emotional requirements of each role.
    </p>
    <p>
      We believe sales effectiveness is enhanced by building long-term trusted relationships. Our focus is on
      enabling collaboration between seller and buyer, creating value for both parties.
    </p>
    <div class="teal-spacer"></div>
    <div class="d-flex justify-content-center" style="margin: 0 -15px;">
      <div class="card card-right" data-aos="fade-down-right" data-aos-duration="3000" id="small-leaf" style="margin:0 5px;">
        <%= image_tag "rowing.jpg", alt: "alttext" %>
      </div>
      <div class=" card card-left" id="small-leaf" data-aos="fade-down-left" data-aos-duration="3000" id="medium-leaf" style="margin:0 15px;">
        <%= image_tag "graffiti.jpg", alt: "alttext" %>
      </div>
    </div>
    <div class="teal-spacer"></div>
    <p>
     We want to help your teams to work brilliantly together. An effective team is never just the sum of its parts. Conducting discussions with people both inside and outside your teams can identify how they can work better together.
    </p>
    <p>
      Understanding not just the synergies, but also the differences within a team can bring enhanced
      effectiveness to the group. We tailor our development programmes to balance the needs of the
      organisation and the personality of the individual.
    </p>
    <%= render "shared/butterfly_break" %>
  </div>
</div>
<%= render "shared/contact_section" %>
