<div class="white-spacer"></div>
<div class="section">
  <div class="container text-center">
    <h1>Thanks for getting in touch!</h1>
    <%= render "shared/butterfly_break" %>
    <div class="white-spacer"></div>
    <p>New Beginnings have received your details and will be in touch soon.</p>
    <p>In the meantime, follow us on social media and check out our blog to keep up with our latest news.</p>
    <div>
      <div class="white-spacer"></div>
      <div class="flex">
        <a href="https://www.facebook.com/New-Beginnings-Consultation-101258475059524" target="_blank"><i class="fab fa-facebook" style="font-size: 100px;"></i></a>
        <a href="https://www.linkedin.com/company/new-beginnings-consultation-ltd/" target="_blank"><i class="fab fa-linkedin" style="font-size: 100px;"></i></a>
      </div>
    </div>
    <div class="white-spacer"></div>
    <div class="white-spacer"></div>
    <%= link_to "Our Thoughts", posts_path, class: "btn-lilac-contact"  %>
    <div class="white-spacer"></div>
    <div class="container">
      <div class="white-spacer"></div>
      <div class="row justify-content-center">
              <div class="col-sm-12 col-md-6" data-aos="fade-down-right" data-aos-duration="3000" id="medium-leaf" >
        <%= link_to pages_recruitment_path, class: "card card-right" do %>
          <img src="https://images.unsplash.com/photo-1538766017398-415434a31a5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Blue door opening to new possibilities"/>
          <div class="card-infos">
            <div class="card-links">
              <h2>360 Recruitment</h2>
              <p>A new approach to the</p>
              <p>employer & candidate journey</p>
            </div>
          </div>
          <div class="overlay">
            <div class="text-overlay">
              <p>
               We believe recruitment isn’t just about jobs, it is about personalities. Of employers and of candidates. Our approach finds people that fit. People that love their new job. Companies that love their new people.
              </p>
              <button class ="btn-lilac-tiny">See more</button>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-down-left" data-aos-duration="3000" id="medium-leaf">
        <%= link_to pages_coaching_path, class: "card card-left" do %>
          <img src="https://cdn.pixabay.com/photo/2017/01/18/16/36/geese-1990202_1280.jpg" alt="Geese flying in unison" />
          <div class="card-infos">
            <div class="card-links">
              <h2>Coaching for Collaboration</h2>
              <p>Facilitating advanced</p>
              <p>communication skills</p>
            </div>
          </div>
          <div class="overlay">
            <div class="text-overlay">
              <p>
                We specialise in the facilitation of advanced communication skills in negotiation. We understand that change must begin within individuals. We promote the value of long-term relationships, and a desire to conduct business in a collaborative, not adversarial way.
              </p>
              <button class ="btn-lilac-tiny">See more</button>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-up-right" data-aos-duration="3000" id="medium-leaf" >
        <%= link_to pages_sales_path, class: "card card-left" do %>
          <%= image_tag "bee.jpg", alt: "Bee on a flower" %>
          <div class="card-infos">
            <div class="card-links">
              <h2>Enhancing Sales Effectiveness</h2>
              <p>Building long-term</p>
              <p>trusted relationships</p>
            </div>
          </div>
          <div class="overlay">
            <div class="text-overlay">
              <p>
                Outstanding commercial excellence has a highly effective sales team at its core. We enable selling skills that develop trust. We support teams of diverse personalities to work creatively together. We help individuals and teams to be the best they can be.
              </p>
              <button class ="btn-lilac-tiny">See more</button>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6" data-aos="fade-up-left" data-aos-duration="3000" id="medium-leaf">
        <%= link_to pages_human_hr_path, class: "card card-right" do %>
            <%= image_tag "ocean.jpg", alt: "stones with our values on" %>
            <div class="card-infos">
              <div class="card-links">
                  <h2>Managing People Through Change</h2>
                  <p>Putting the human</p>
                  <p>back into HR</p>
              </div>
            </div>
            <div class="overlay">
              <div class="text-overlay">
                <p>
                  When managing change, we always put people first.
                  Our focus is on balancing the needs of individuals and the organisation. Understanding personalities helps businesses be successful and a great place to work, even in difficult times.
                </p>
                <button class ="btn-lilac-tiny">See more</button>
              </div>
            </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
