<div class="section">
<div class="white-spacer"></div>
<div class="container">
  <h1>Write a new article</h1>
  <div class="white-spacer"></div>
  <%=simple_form_for(@post) do |f| %>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :body_part_two %>
    <%= f.input :banner_photo, as: :file %>
    <%= f.input :left_photo, as: :file %>
    <%= f.input :right_photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
</div>
