<div class="white-spacer"></div>
<div class="white-spacer"></div>
<div class="section">
  <h1>Our Thoughts</h1>
  <%= render "shared/butterfly_break" %>
  <div class="white-spacer"></div>
  <div class="posts">
    <% @posts.each_slice(3) do |posts| %>
      <div class="row justify-content-center">
        <% posts.each do |post| %>
        <div class="col-md-6">
          <div class="post-card">
            <%= link_to post_path(post) do  %>
              <%= cl_image_tag post.banner_photo.key, height: 500, width: 800,  class: "responsive-image"%>
              <h3><%= link_to post.title, post_path(post), class: "email-phone-blue" %></h3>
              <p>On <%= post.created_at.strftime("%B %d %Y") %></p>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
    <p>Has anything you've read piqued your interest? Care to discuss it with us more?</p>
    <p>We love a chat so get in touch using the form below.</p>
    <%= render "shared/butterfly_break" %>
    <% if current_user && current_user.admin? %>
      <%= link_to 'Write a new article', new_post_path %>
    <% end %>
  </div>
</div>

