<div class="section">
  <div class="white-spacer"></div>
  <div class="container">
    <h1><%= @post.title %></h1>
    <div class="flourish">
      <%= image_tag "rsz_nb_butterfly-01.png", alt: "alttext", class: "avatar-tiny", id: "img-hr" %>
    </div>
    <div data-aos="zoom-in" data-aos-duration="3000">
      <%= cl_image_tag @post.banner_photo.key, height: 500, width: 800, class: "responsive-image" %>
    </div>
  </div>
</div>
<div class="section-teal">
  <div class="container">
    <div class="flourish">
      <%= image_tag "rsz_nb_butterfly-01.png", alt: "alttext", class: "avatar-tiny", id: "img-hr" %>
    </div>
      <p><%= simple_format @post.body %></p>
      <div class="d-flex justify-content-around">
        <div class="card card-left" data-aos="fade-down-right" data-aos-duration="3000" id="small-leaf">
          <%= cl_image_tag @post.left_photo.key %>
        </div>
        <div class="card card-right" data-aos="fade-down-left" data-aos-duration="3000" id="small-leaf">
          <%= cl_image_tag @post.right_photo.key %>
        </div>
      </div>
      <p><%= simple_format @post.body_part_two %></p>
      <% if current_user && current_user.admin %>
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= link_to 'Delete' , post_path(@post), method: :delete,
                    data: { confirm: "Are you sure?" } %>
      <% end %>
      <div class="d-flex justify-content-center">
        <%= link_to 'Back to blog', posts_path, class: "btn-lilac" %>
      </div>
  </div>
  <div class="flourish">
      <%= image_tag "rsz_nb_butterfly-01.png", alt: "alttext", class: "avatar-tiny", id: "img-hr" %>
  </div>
</div>
