<div class="section">
  <div class="white-spacer"></div>
  <div class="container">
    <h1><%= @post.title %></h1>
    <div class="flourish">
      <%= image_tag "rsz_nb_butterfly-01.png", alt: "alttext", class: "avatar-tiny", id: "img-hr" %>
    </div>
    <div>
      <%= cl_image_tag @post.banner_photo.key, height: 500, width: 800, class: "responsive-image" %>

    </div>
  </div>
</div>
<div class="section-teal">
  <div class="container">
    <div class="flourish">
      <%= image_tag "rsz_nb_butterfly-01.png", alt: "alttext", class: "avatar-tiny", id: "img-hr" %>
    </div>
      <p><%= simple_format @post.body %></p>
      <% if current_user && current_user.admin %>
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= link_to 'Delete' , post_path(@post), method: :delete,
                    data: { confirm: "Are you sure?" } %>
      <% end %>
  </div>
</div>
