<!DOCTYPE html>
<html>
  <head>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property=og:title content='New Beginnings Consultation'>
    <meta property=og:description content='Listen. Empower. Transform.'>
    <meta property=og:image content='NB_logo_1184x571.png'>
    <%= favicon_link_tag asset_path('rsz_nb_butterfly-01.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<!--     <link rel="stylesheet" type="text/css" href="MyFontsWebfontsKit.css"> -->


    <title>New Beginnings Consultation | Listen. Empower. Transform.</title>
    <meta name="description" content="Unique times require unique perspectives and solutions. Start your new beginning today. With years of experience in all aspects of business, we are here to help. Focusing on commercial excellence, recruitment, risk management and human resources, we can help you get your business to where it needs to be. ">
    <meta charset="utf-8">

  </head>

  <body>
    <script type="text/javascript" src="https://secure.harm6stop.com/js/196620.js" ></script>
    <noscript><img alt="" src="https://secure.harm6stop.com/196620.png" style="display:none;" /></noscript>
    <%= render "shared/navbar" %>
    <%= yield %>
    <!-- <p class="notice"><%= notice %></p> -->
    <p class="alert"><%= alert %></p>
    <%= render "shared/contact_form" if current_page?(root_path) || current_page?(pages_human_hr_path) && current_page?(pages_recruitment_path) || current_page?(pages_sales_path) || current_page?(pages_risk_path) || current_page?(posts_path) %>
    <%= render "shared/footer" %>

    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>

  </body>
</html>
